$secondary: #23252A;
$white: #FFFFFF;
$blue: #3A70DD;
$light-blue: #5F8EE3;
$black: #000000;
$black-100: #191B1F;
$grey: #8E8E8E;
$grey-100: #949BB3;
$grey-200: #777777;
$grey-300: #2D2F35;
$grey-400: #494B56;
$grey-500: #6F7175;
$grey-600: #A2A2A2;
$grey-700: #5B5C5D;
$grey-800: #030303;
$grey-900:#2A252C;
$blue-100:#8BBDFF;
$blue-200:#222429;
$blue-300:#1C2940;
$blue-400:#212E45;