.staking-page-wrapper{
    --font-size-xxl:32px;
    --font-size-xl:22px;
    --font-size-lg:20px;
    --font-size-md:18px;
    --font-size-sm:16px;
    --font-size-xs:14px;
    --font-size-xxs:12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 74px;
    position: relative;
    .heading-container{
    display: flex;
    flex-direction: column;
    color: white;
    :nth-child(1){
        font-size: var(--font-size-xxl);
    }
    :nth-child(2){
        font-size: var(--font-size-xl);
    }
    }
    .main-container{
background: rgba(0, 0, 0, 0.8);
border: 1px solid #000000;
box-shadow: 6px 6px 4px #000000;
border-radius: 25px;
width: 830px;
padding: 5px 28px 43px 28px;


.main-container__top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(153, 153, 153, 0.19);
    span{
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: var(--font-size-lg);
    }
   
    
}
.main-container__mid{
    display: flex;
    justify-content: space-between;
    padding: 28px 0px 50px 0px;
    span{
        height: 57px;
        font-size: var(--font-size-lg);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    :nth-child(1){
        color: rgba(255, 255, 255, 0.33);
    }
    :nth-child(2){
       position: relative;
       left:30px;
       color: rgba(255, 255, 255, 0.33);
    }
    :nth-child(3){
        color:white;
    }
}
.main-container__bottom{
    display: flex;
    justify-content: center;
    gap: 31px;
    
    .btn{
        height: 40px;
        width: 120px;
        background: #4E4E4E;
        border-radius: 15px;
        font-size: var(--font-size-xs);
    }
    .active{
        background: #8BBDFF;
        color:black;


    }
}
    }
}

.stake-modal{
    background: #4E4E4E;
border: 2px solid #8E8E8E;
border-radius: 25px;
width: 550px;
position: absolute;
margin-top: 98px;

.stake-modal__top{
font-size: var(--font-size-lg);
padding: 32px 0px 32px 46px;
border-bottom: 2px solid #00000030;
color: white;
font-weight: 700;
}
.stake-modal__mid{
    padding :33px 28px 20px 28px;
    .stake-modal__mid__card{
        height: 86px;
        width: 100%;
        background: #E6E6E6;
        border: 1px solid #D9D9D9;
        border-radius: 20px;
        padding: 10px 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        
.card__top{
 
 display: flex;
 justify-content: space-between;
 span{
    font-size: var(--font-size-sm);
    color: black;
 }
}
.card__main{
    
    display: flex;
    justify-content: space-between;
    :nth-child(1){
        color: #707070;
        font-size: var(--font-size-md);
    }
    .btn{
        height: 24px;
        width:66px;
        background: #8BBDFF;
        border-radius: 7px;
        font-size: var(--font-size-xxs);
    }
}
        }
        .stake-modal__mid__btn-container{
            display: flex;
            justify-content: space-between;
            
            padding: 84px 0px 0px 0px;
            .btn{
                width: 200px;
                border-radius: 15px;
                height: 50px;
            }
            :nth-child(1){
                background: #8BBDFF;
            }
            :nth-child(2){
                background: #B1B1B1;
            }
        }
    }

.stake-modal__bottom{

display: flex;
align-items: center;
justify-content: center;
color: white;

}
}