.walletCard-container {
    margin-top: 30px;
    margin-bottom: 10px;

    .walletCard-inner {
        background: $grey-300;
        border: 1px solid $white;
        border-radius: 17px;
        height: 51.42px;
        display: flex;
        align-items: center;
        padding-left: 27px;
        margin-bottom: 10px;
        cursor: pointer;

        .brand-logo-wrapper {
            margin-right: 27px;

            .brand-logo {
                width: 22.78px;
                height: 22.95px;
            }
        }

        .brand-name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: $white;
        }
    }
}